<a href="https://colab.research.google.com/github/aaryan180207/python-experimentssss/blob/main/Experiment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name- Aaryan Jhamtani

PRN-25070123005

Batch-ENTC A1

**E**xperiment 5

**study of sets in python**

In [ ]:
#creation of set
thisset={"chahek","palash","aaryan"}
print(thisset)

{'chahek', 'palash', 'aaryan'}

In [ ]:
#dupicates not allowed in set
thisset={"chahek","palash","aaryan","chahek"}
print(thisset)

{'chahek', 'palash', 'aaryan'}

In [ ]:
# The values True and 1 are considered the same value

thisset={"chahek","palash","aaryan",True,1,2}
print(thisset)

{True, 2, 'chahek', 'palash', 'aaryan'}

In [ ]:
# A set with strings, integers and boolean value:
set1={"chahek",70,True,40,"male"}
print(set1)

{'male', True, 'chahek', 70, 40}

In [ ]:
thisset={"chahek","palash","aaryan"}
print("chahek")
print("chahek" in thisset)
print("chahek" not in thisset)

chahek
True
False

In [ ]:
# Once a set is created, you cannot replace its items, but you can add and delete new items

thisset={"chahek","palash","aaryan"}
thisset.add("kerren")
print(thisset)

{'chahek', 'palash', 'kerren', 'aaryan'}

In [ ]:
# Remove Item
thisset={"chahek","palash","aaryan"}
thisset.remove("aaryan")
print(thisset)

{'chahek', 'palash'}

In [ ]:
#set operations

a = {40,60,80,100,120}
b = {20,40,60,80,100}
print("Union",a|b)
print("Intersection",a&b)
print("Difference",a-b)
print("Symmetric Difference",a^b)

Union {100, 40, 80, 20, 120, 60}
Intersection {80, 40, 100, 60}
Difference {120}
Symmetric Difference {20, 120}

In [ ]:

#frozen set
X=frozenset([20,40,60,80])
print(X)

X.add(10)
X.remove(20)

frozenset({40, 80, 20, 60})

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#problem 1
thisset={"chahek","palash","aaryan","anish","prithvi","chahek","aaryan","srujan"}
print(thisset)

{'chahek', 'anish', 'srujan', 'prithvi', 'palash', 'aaryan'}

In [ ]:
#problem 2
chahek={"maths","chemistry","physics","physical education"}
palash={"maths","chemistry","physics","biology"}
aaryan={"maths","chemistry","physics","computer science"}
print(chahek & palash & aaryan)

{'chemistry', 'maths', 'physics'}

In [ ]:
#problem 3
cricket = {"chahek","palash","aaryan", "prithvi", "srujan"}
football ={"chahek", "palash", "anish","akshat", "yugansh"}
print(cricket&football)
print(cricket-football)
print(cricket^football)

{'chahek', 'palash'}
{'srujan', 'prithvi', 'aaryan'}
{'anish', 'srujan', 'akshat', 'prithvi', 'yugansh', 'aaryan'}

In [ ]:
students={"chahek","palash","aaryan","anish","prithvi","srujan"}
present={"chahek","palash","aaryan","anish","prithvi"}
absent=students-present
print(absent)

{'srujan'}

In [ ]:
#problem 5
A = {"physics","maths", "chemistry","computer science"}
A.remove("computer science")
print(A)

{'chemistry', 'maths', 'physics'}

**Python Dictionary**

In [ ]:
#Creation of Dictionary
thisdict = {
     "brand" : "ford",
     "model" : "mustang",
     "year" : 1964

 }
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
# Dictionary takes latest value given for key. It will not allow duplicates
thisdict ={
    "brand":"Ford",
    "model" : "mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
# Changing/adding key;value in dictionary
car = {
    "brand" : "ford",
    "model" : "mustang",
    "year" : 1964
}
car["color"] = "red"
x = car.values()
print(x)

dict_values(['ford', 'mustang', 1964, 'red'])

In [ ]:
student = {
    "roll":101,
    "name": "amit",
    "branch" : "entc"
    }
print("name:",student["name"])

name: amit

In [ ]:
# Adding and Updating Elements

student["year"] = "second"
student["name"] = "Rahul"

print(student)

{'roll': 101, 'name': 'Rahul', 'branch': 'entc', 'year': 'second'}

In [ ]:
# Removing Elements
student.pop("branch")
print("After removal:", student)

After removal: {'roll': 101, 'name': 'Rahul', 'year': 'second'}

In [ ]:
#problem 1
thisdict = {
    "atta" :108,
    "maida":120,
    "besan":132
}
print(thisdict)

thisdict["atta"] = 122
thisdict["maida"] =144

print(thisdict)

{'atta': 108, 'maida': 120, 'besan': 132}
{'atta': 122, 'maida': 144, 'besan': 132}

In [ ]:
#problem 2
marks = {"A":90,"B":80,"C":70,"D":60,"E":50}
name = input("enter studnet name: ")
print(marks.get(name, "student not found"))

enter studnet name: d
student not found

In [ ]:
#problem 3
thisdict ={"username":"chahek",
           "password":"chahek21"}
username = input("enter username: ")
password = input("enter password: ")
if thisdict["username"] == "chahek" and thisdict["password"] == "chahek21" :
  print("login successful")
else:
     print("login failed")

enter username: chahek
enter password: chahek21
login successful

In [ ]:
#problem 4
marks = {"A":98, "B":94, "C":97}
topper = max(marks, key=marks.get)
print(topper)
print(marks[topper])

A
98